# Python
__pycache__/
*.py[cod]
*$py.class
venv/

# Node
node_modules/
npm-debug.log
yarn-debug.log
yarn-error.log

# Build
build/
dist/
*.app

# macOS
.DS_Store
.AppleDouble
.LSOverride
Icon
._*
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns
.com.apple.timemachine.donotpresent

# IDE
.idea/
.vscode/
*.swp
*.swo

# Application specific
fishing-log-data/
cat
icon.icns
icon.iconset/
icon.png

.env
*.sqlite3
*.db
